<%- include("partials/header") %>

    <div class="container">
        <h1 class="text-center">Compose</h1>
        <form action="/compose" method="post">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="postBy" class="form-label fw-semibold fs-5">Your Name</label>
                        <input type="text" class="form-control" id="postBy" name="postBy" placeholder="Your Name"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="postTitle" class="form-label fw-semibold fs-5">Title</label>
                        <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Title"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="postBody" class="form-label fw-semibold fs-5">Post</label>
                        <label for="postBody" class="form-label fw-semibold fs-6">(You can use HTML tags to beautify
                            your blog)</label>
                        <textarea class="form-control" id="postBody" name="postBody" rows="5"
                            placeholder="Add your content" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </div>
            </div>
        </form>
    </div>

    <%- include("partials/footer") %>